page {
  --bee-color-primary: #409eff;
  --bee-color-success: #67c23a;
  --bee-color-info: #909399;
  --bee-color-warning: #e6a23c;
  --bee-color-danger: #f56c6c;
  --bee-color-error: #f56c6c;
  --bee-color-white: #fff;
  --bee-color-black: #000;
  --bee-border-color: #dcdfe6;
  --bee-border-width: 1px;
  --bee-font-size-xl: 18px;
  --bee-font-size-lg: 16px;
  --bee-font-size-md: 14px;
  --bee-font-size-sm: 12px;
  --bee-font-size-xs: 10px;
  --bee-line-height-xl: 24px;
  --bee-line-height-lg: 22px;
  --bee-line-height-md: 20px;
  --bee-line-height-sm: 18px;
  --bee-line-height-xs: 14px;
  --bee-border-radius-xl: 16px;
  --bee-border-radius-lg: 8px;
  --bee-border-radius-md: 4px;
  --bee-border-radius-sm: 2px;
  --bee-padding-xl: 32px;
  --bee-padding-lg: 24px;
  --bee-padding-md: 16px;
  --bee-padding-sm: 8px;
  --bee-padding-xs: 4px;
  --bee-text-color-primary: #303133;
  --bee-text-color-regular: #606266;
  --bee-text-color-secondary: #909399;
  --bee-text-color-placeholder: #a8abb2;
  --bee-text-color-disabled: #c0c4cc;

  // 按钮
  --bee-button-border-width: var(--bee-border-width);
  --bee-button-radius: var(--bee-border-radius-md);
  --bee-button-icon-font-size: 1.2em;
  --bee-button-plain-background-color: var(--bee-color-white);
  --bee-button-primary-color: var(--bee-color-white);
  --bee-button-primary-background-color: var(--bee-color-primary);
  --bee-button-primary-border-color: var(--bee-color-primary);
  --bee-button-success-color: var(--bee-color-white);
  --bee-button-success-background-color: var(--bee-color-success);
  --bee-button-success-border-color: var(--bee-color-success);
  --bee-button-info-color: var(--bee-color-white);
  --bee-button-info-background-color: var(--bee-color-info);
  --bee-button-info-border-color: var(--bee-color-info);
  --bee-button-warning-color: var(--bee-color-white);
  --bee-button-warning-background-color: var(--bee-color-warning);
  --bee-button-warning-border-color: var(--bee-color-warning);
  --bee-button-danger-color: var(--bee-color-white);
  --bee-button-danger-background-color: var(--bee-color-danger);
  --bee-button-danger-border-color: var(--bee-color-danger);
  --bee-button-large-height: 42px;
  --bee-button-large-font-size: var(--bee-font-size-lg);
  --bee-button-large-padding: 0 var(--bee-padding-lg);
  --bee-button-middle-height: 36px;
  --bee-button-middle-font-size: var(--bee-font-size-md);
  --bee-button-middle-padding: 0 var(--bee-padding-md);
  --bee-button-small-height: 28px;
  --bee-button-small-font-size: var(--bee-font-size-sm);
  --bee-button-small-padding: 0 var(--bee-padding-sm);
  --bee-button-mini-height: 20px;
  --bee-button-mini-font-size: var(--bee-font-size-xs);
  --bee-button-mini-padding: 0 var(--bee-padding-xs);

  // loading
  --bee-loading-text-color: var(--bee-text-color-secondary);
  --bee-loading-text-font-size: var(--bee-font-size-md);
  --bee-loading-spinner-color: #c8c9cc;
  --bee-loading-spinner-size: 30px;

  // overlay
  --bee-overlay-background-color: rgb(0 0 0 / 70%);

  // popup
  --bee-popup-background-color: var(--bee-color-white);
  --bee-popup-close-icon-size: 22px;
  --bee-popup-close-icon-color: var(--bee-text-color-placeholder);
  --bee-popup-close-icon-margin: 16px;
  --bee-popup-round-radius: 16px;

  // cell
  --bee-cell-line-height: var(--bee-line-height-xl);
  --bee-cell-vertical-padding: 10px;
  --bee-cell-horizontal-padding: var(--bee-padding-md);
  --bee-cell-background-color: var(--bee-color-white);
  --bee-cell-title-color: var(--bee-text-color-primary);
  --bee-cell-title-font-size: var(--bee-font-size-md);
  --bee-cell-label-color: var(--bee-text-color-secondary);
  --bee-cell-label-font-size: var(--bee-font-size-sm);
  --bee-cell-label-line-height: var(--bee-line-height-sm);
  --bee-cell-value-color: var(--bee-text-color-secondary);
  --bee-cell-value-font-size: var(--bee-font-size-md);
  --bee-cell-icon-size: 16px;
  --bee-cell-icon-color: var(--bee-text-color-secondary);
  --bee-cell-icon-right-arrow-size: 22px;

  // --bee-cell-border-color: var(--bee-border-color);
  // --bee-cell-active-color: #f2f3f5;
}
