page {
  --bee-color-primary: #409eff;
  --bee-color-success: #67c23a;
  --bee-color-info: #909399;
  --bee-color-warning: #e6a23c;
  --bee-color-danger: #f56c6c;
  --bee-color-error: #f56c6c;
  --bee-color-white: #fff;
  --bee-color-black: #000;
  --bee-border-color: #dcdfe6;

  // 按钮
  --bee-button-primary-color: var(--bee-color-white);
  --bee-button-primary-background-color: var(--bee-color-primary);
  --bee-button-primary-border-color: var(--bee-color-primary);
  --bee-button-success-color: var(--bee-color-white);
  --bee-button-success-background-color: var(--bee-color-success);
  --bee-button-success-border-color: var(--bee-color-success);
  --bee-button-info-color: var(--bee-color-white);
  --bee-button-info-background-color: var(--bee-color-info);
  --bee-button-info-border-color: var(--bee-color-info);
  --bee-button-warning-color: var(--bee-color-white);
  --bee-button-warning-background-color: var(--bee-color-warning);
  --bee-button-warning-border-color: var(--bee-color-warning);
  --bee-button-danger-color: var(--bee-color-white);
  --bee-button-danger-background-color: var(--bee-color-danger);
  --bee-button-danger-border-color: var(--bee-color-danger);
  --bee-button-large-height: 42px;
  --bee-button-large-font-size: 14px;
  --bee-button-large-padding: 0 18px;
  --bee-button-normal-height: 36px;
  --bee-button-normal-font-size: 14px;
  --bee-button-normal-padding: 0 12px;
  --bee-button-small-height: 28px;
  --bee-button-small-font-size: 12px;
  --bee-button-small-padding: 0 8px;
  --bee-button-mini-height: 20px;
  --bee-button-mini-font-size: 10px;
  --bee-button-mini-padding: 0 4px;
}
