.bee-button {
  display: inline-block;
  line-height: 1;

  // border: 2px solid seagreen;
  // border: none;
  // color: var(--van-button-default-color);
  background-color: #fff;
  border: 1px solid var(--bee-border-color);

  &::after {
    display: none;
  }

  &__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &--primary {
    color: var(--bee-button-primary-color);
    background-color: var(--bee-button-primary-background-color);
    border-color: var(--bee-button-primary-border-color);
  }

  &--success {
    color: var(--bee-button-success-color);
    background-color: var(--bee-button-success-background-color);
    border-color: var(--bee-button-success-border-color);
  }

  &--info {
    color: var(--bee-button-info-color);
    background-color: var(--bee-button-info-background-color);
    border-color: var(--bee-button-info-border-color);
  }

  &--warning {
    color: var(--bee-button-warning-color);
    background-color: var(--bee-button-warning-background-color);
    border-color: var(--bee-button-warning-border-color);
  }

  &--danger {
    color: var(--bee-button-danger-color);
    background-color: var(--bee-button-danger-background-color);
    border-color: var(--bee-button-danger-border-color);
  }

  // &--plain {
  //   background: var(--van-button-plain-background);

  //   &.van-button--primary {
  //     color: var(--van-button-primary-background);
  //   }

  //   &.van-button--success {
  //     color: var(--van-button-success-background);
  //   }

  //   &.van-button--danger {
  //     color: var(--van-button-danger-background);
  //   }

  //   &.van-button--warning {
  //     color: var(--van-button-warning-background);
  //   }
  // }

  &--large {
    height: var(--bee-button-large-height);
    padding: var(--bee-button-large-padding);
    font-size: var(--bee-button-large-font-size);
  }

  &--normal {
    height: var(--bee-button-normal-height);
    padding: var(--bee-button-normal-padding);
    font-size: var(--bee-button-normal-font-size);
  }

  &--small {
    height: var(--bee-button-small-height);
    padding: var(--bee-button-small-padding);
    font-size: var(--bee-button-small-font-size);
  }

  &--mini {
    height: var(--bee-button-mini-height);
    padding: var(--bee-button-mini-padding);
    font-size: var(--bee-button-mini-font-size);
  }

  // &__loading {
  //   color: inherit;
  //   font-size: inherit;

  //   &__spinner {
  //     width: var(--van-button-loading-icon-size);
  //     height: var(--van-button-loading-icon-size);
  //     color: currentColor;
  //   }
  // }

  // &--block {
  //   display: block;
  //   width: 100%;
  // }

  // &--disabled {
  //   cursor: not-allowed;
  //   opacity: var(--van-button-disabled-opacity);
  // }

  // &--loading {
  //   cursor: default;
  // }

  // &--round {
  //   border-radius: var(--van-button-round-radius);
  // }
}
