.bee-button {
  display: inline-block;
  height: var(--bee-button-height);
  color: var(--bee-text-color-primary);
  line-height: 1;
  white-space: nowrap;
  background-color: var(--bee-color-white);
  border: 1px solid var(--bee-border-color);
  border-radius: var(--bee-button-radius);

  &::after {
    display: none;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: var(--bee-color-black);
    border: inherit;
    border-color: var(--bee-color-black);
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: "";
  }

  &.is-active::before {
    opacity: 0.1;
  }

  &__content {
    display: inline-flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 100%;

    :deep() {
      .bee-button__icon {
        --bee-button-icon-margin: var(--bee-padding-xs);

        font-size: var(--bee-button-icon-font-size);

        // &.left {
        //   margin-right: var(--bee-button-icon-margin);
        // }

        // &.right {
        //   margin-left: var(--bee-button-icon-margin);
        // }
      }
    }
  }

  &--primary {
    color: var(--bee-button-primary-color);
    background-color: var(--bee-button-primary-background-color);
    border-color: var(--bee-button-primary-border-color);

    &.is-plain {
      color: var(--bee-button-primary-background-color);
    }
  }

  &--success {
    color: var(--bee-button-success-color);
    background-color: var(--bee-button-success-background-color);
    border-color: var(--bee-button-success-border-color);

    &.is-plain {
      color: var(--bee-button-success-background-color);
    }
  }

  &--info {
    color: var(--bee-button-info-color);
    background-color: var(--bee-button-info-background-color);
    border-color: var(--bee-button-info-border-color);

    &.is-plain {
      color: var(--bee-button-info-background-color);
    }
  }

  &--warning {
    color: var(--bee-button-warning-color);
    background-color: var(--bee-button-warning-background-color);
    border-color: var(--bee-button-warning-border-color);

    &.is-plain {
      color: var(--bee-button-warning-background-color);
    }
  }

  &--danger {
    color: var(--bee-button-danger-color);
    background-color: var(--bee-button-danger-background-color);
    border-color: var(--bee-button-danger-border-color);

    &.is-plain {
      color: var(--bee-button-danger-background-color);
    }
  }

  &--large {
    --bee-button-height: var(--bee-button-large-height);

    padding: var(--bee-button-large-padding);
    font-size: var(--bee-button-large-font-size);
  }

  &--middle {
    --bee-button-height: var(--bee-button-middle-height);

    padding: var(--bee-button-middle-padding);
    font-size: var(--bee-button-middle-font-size);
  }

  &--small {
    --bee-button-height: var(--bee-button-small-height);

    padding: var(--bee-button-small-padding);
    font-size: var(--bee-button-small-font-size);

    :deep() {
      .bee-button__icon {
        --bee-button-icon-margin: calc(var(--bee-padding-xs) / 2);
      }
    }
  }

  &--mini {
    --bee-button-height: var(--bee-button-mini-height);

    padding: var(--bee-button-mini-padding);
    font-size: var(--bee-button-mini-font-size);

    :deep() {
      .bee-button__icon {
        --bee-button-icon-margin: calc(var(--bee-padding-xs) / 2);
      }
    }
  }

  &.is-plain {
    background: var(--bee-button-plain-background-color);
  }

  &.is-round {
    border-radius: var(--bee-button-height);
  }

  &.is-circle {
    width: var(--bee-button-height);
    padding: 0;
    border-radius: 50%;

    .bee-button__content {
      width: 100%;
    }
  }

  &.is-square {
    border-radius: 0;
  }

  // &__loading {
  //   color: inherit;
  //   font-size: inherit;

  //   &__spinner {
  //     width: var(--van-button-loading-icon-size);
  //     height: var(--van-button-loading-icon-size);
  //     color: currentColor;
  //   }
  // }

  // &--block {
  //   display: block;
  //   width: 100%;
  // }

  // &--disabled {
  //   cursor: not-allowed;
  //   opacity: var(--van-button-disabled-opacity);
  // }

  // &--loading {
  //   cursor: default;
  // }

  // &--round {
  //   border-radius: var(--van-button-round-radius);
  // }
}
