.bee-button {
  --bee-button-color: var(--bee-text-color-primary);
  --bee-button-background-color: var(--bee-color-white);
  --bee-button-border-color: var(--bee-border-color);

  display: inline-block;
  height: var(--bee-button-height);
  color: var(--bee-button-color);
  line-height: 1;
  white-space: nowrap;
  background-color: var(--bee-button-background-color);
  border: 1px solid var(--bee-button-border-color);
  border-radius: var(--bee-button-radius);

  &::after {
    display: none;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: var(--bee-color-black);
    border: inherit;
    border-color: var(--bee-color-black);
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: "";
  }

  &.is-active::before {
    opacity: 0.1;
  }

  &__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    :deep() {
      .bee-button__icon {
        font-size: var(--bee-button-icon-font-size);
      }
    }
  }

  &--primary {
    --bee-button-color: var(--bee-button-primary-color);
    --bee-button-background-color: var(--bee-button-primary-background-color);
    --bee-button-border-color: var(--bee-button-primary-border-color);

    &.is-plain {
      --bee-button-color: var(--bee-button-primary-background-color);
    }
  }

  &--success {
    --bee-button-color: var(--bee-button-success-color);
    --bee-button-background-color: var(--bee-button-success-background-color);
    --bee-button-border-color: var(--bee-button-success-border-color);

    &.is-plain {
      --bee-button-color: var(--bee-button-success-background-color);
    }
  }

  &--info {
    --bee-button-color: var(--bee-button-info-color);
    --bee-button-background-color: var(--bee-button-info-background-color);
    --bee-button-border-color: var(--bee-button-info-border-color);

    &.is-plain {
      --bee-button-color: var(--bee-button-info-background-color);
    }
  }

  &--warning {
    --bee-button-color: var(--bee-button-warning-color);
    --bee-button-background-color: var(--bee-button-warning-background-color);
    --bee-button-border-color: var(--bee-button-warning-border-color);

    &.is-plain {
      --bee-button-color: var(--bee-button-warning-background-color);
    }
  }

  &--danger {
    --bee-button-color: var(--bee-button-danger-color);
    --bee-button-background-color: var(--bee-button-danger-background-color);
    --bee-button-border-color: var(--bee-button-danger-border-color);

    &.is-plain {
      --bee-button-color: var(--bee-button-danger-background-color);
    }
  }

  &--large {
    --bee-button-height: var(--bee-button-large-height);

    padding: var(--bee-button-large-padding);
    font-size: var(--bee-button-large-font-size);

    :deep() {
      .bee-button__content {
        gap: var(--bee-padding-xs);
      }
    }
  }

  &--middle {
    --bee-button-height: var(--bee-button-middle-height);

    padding: var(--bee-button-middle-padding);
    font-size: var(--bee-button-middle-font-size);

    :deep() {
      .bee-button__content {
        gap: var(--bee-padding-xs);
      }
    }
  }

  &--small {
    --bee-button-height: var(--bee-button-small-height);

    padding: var(--bee-button-small-padding);
    font-size: var(--bee-button-small-font-size);

    :deep() {
      .bee-button__content {
        gap: calc(var(--bee-padding-xs) / 2);
      }
    }
  }

  &--mini {
    --bee-button-height: var(--bee-button-mini-height);

    padding: var(--bee-button-mini-padding);
    font-size: var(--bee-button-mini-font-size);

    :deep() {
      .bee-button__content {
        gap: calc(var(--bee-padding-xs) / 2);
      }
    }
  }

  &.is-plain {
    --bee-button-background-color: var(--bee-button-plain-background-color);
  }

  &.is-round {
    border-radius: var(--bee-button-height);
  }

  &.is-circle {
    width: var(--bee-button-height);
    padding: 0;
    border-radius: 50%;

    .bee-button__content {
      width: 100%;
    }
  }

  &.is-square {
    border-radius: 0;
  }

  &.is-block {
    display: block;
  }

  &.is-disabled {
    color: var(--bee-button-color);
    background-color: var(--bee-button-background-color);

    &::before {
      background: var(--bee-color-white);
      opacity: 0.5;
    }
  }
}
